@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:300,700|Roboto:400,700';

*{
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%; // 1rem = 10px
}

body{
	font-size: 1.5rem;
	background-color: #eee;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}
/*-----------------------------------------------------*/

/*Liens et Titres : */

a{
	color: white;
	text-decoration: none;
	padding: 1rem 1.5rem;

	-webkit-transition: all .5s;
	transition: all .5s;
}

a:hover{
	color: #2B2C36;
	background-color: white;
}

h1, h3 {
    font-family: 'Roboto Slab', serif;
    line-height: .8em;
}

h2{

    font-family: 'Roboto Slab', serif;
    line-height: 2.8em;

}


h1 span {
    font-size: .5em;
    font-weight: 300;
    display: block;
}


nav {
   
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #8c2525;
    text-align: center;
    z-index: 1;
}

nav ul {
    margin-right: .5rem;
    margin-top: 9rem;
    list-style-type: none; // Supprimer les puces de la balise UL
}

nav li:not(:last-of-type) {
    margin-bottom: 2rem;
}



/*menu classique*/
 ul{
    display: none;
 }

/*Burger Menu */
 #burgerBtn{

    position: absolute;
    color: white;
    top: 2rem;
    right: 2rem;
    font-size: 3em;
    color: #b79d83;
    cursor: pointer;
    z-index: 2;

    -webkit-transition: all .5s;
    transition: all .5s;
 }

#burgerBtn:hover{
    color: white;
}


/*-------------------------------------------------------*/

/* 
Header
*/
header {
    background-color: #8c2525;
    color: white;
    padding: 2rem;
    padding-bottom: 15rem;
}

#backHome{
    display: none;
}


/*------------------------------------------------------*/

/*
Main
*/
main{
    text-align: center;
    margin-top: 2rem;
}


/* 
Home

*/



/*-------------------------------------------------*/

/* 
Page mémo des rubriques
*/
.memoItem{
    text-align: left;
    padding: 2rem;
}

.memoItem h3{
    margin-top: 3rem;
}

.memoItem p{
    margin-top: 1.5rem;
    display: none;
}


/*-----------------------------------------------*/

/*<!-- section arcticle photo -->*/

section{
    padding: 4rem;
}

section:first-of-type{
    color: black;
    background-color: rgba(222, 222, 222, 0.99);
}

/*lien get started*/



.callToAction{
    font-family: 'Open Sans', sans-serif;
    line-height: 1em;
    font-weight: 400
}

.callToAction{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    display: inline-block;
    margin-top: 2rem;
    background-color: #F05F40;
    color: white;
    padding: 1rem 1.5rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
}

.callToAction.white{
    color: #222;
    background-color: white;
}


/*----------------------------------------------------------*/

img{
        width: 100%;
   /* height: 152px;*/
    
}

/*gestion des articles de la page home*/

/*Configurer la class whiteShadow, cette partie est pour intervenir et mettre le fond blanc dans le menu, mais comme la classe est définie, nous interviendrons sur toute la class c a d aussi sur les sections articles et footer*/
.whiteShadow{
    background-color: white;    

/*Ajouter une ombre portée, c'est pour ajouter l'ombre dans le menu*/
    box-shadow: 0 0 .5rem black;

/*Ajouter une marge interieure avec la balise "padding*/
padding: 1.5rem;

/*Ajouter une marge extérieure en bas avec la balise margin bottown*/
margin-bottom: 1.5rem;

}



/*configurer les articles*/
article{
/*aligner les articles sur une ligne*/
display: inline-block;

/*on rajoute un alignement verticale "vertical align: top " car le inline block lorsque l'on réduit le texte il réduit egalement le bloque en entier, et il réduit la table vers le haut du coup pour que la table se réduit vers le bas on rajoute alignement verticale Pour que la table reste inchanger  que le texte soit court ou long on on rajoute la balise min-height */

vertical-align: top; 

/*réduire la taille des articles*/
width: 23.34%;


/*Ajouter une marge extérieure à droite*/
margin-right: 1.5rem;

/*Bloquer les enfants à l'intérieure*/
position: relative;

}

/*Annuler la marge droite de #lastArticle (c'est le deuxieme id que l'on a créer*/
#lastArticle{
    margin-right: 0;
}

/*Ajuster le positionnement de .readMore*/
.readMore{
/*sortir les balises du flux*/
position: absolute;

/*Repositionner les balises*/
bottom: 1.5rem;
right: 1.5rem;
}

p{
    margin-bottom: 3.5rem;
/*margin bottom c'est pour régler l'espace entre le texte des paragraphes et le more*/
/*décaler la premier ligne (l"indentation, c'est l'alineat, avec text indent */
    text-indent: 1.5rem;
    text-align: justify;

/*ici on fait une marge entre les paragraphes et le "more"*/
}


/*séction welcome, ici on s'occupe de la section juste avant le footer avec les 4images on les positionnes à côté du texte*/
#welcome img{
    width: 48%;
}

/*Sélectionner le premier type d'article de la balise #welcome*/
#welcome article:first-of-type{
width: 23%;
}

/*Sélectionner le dernier type d'article de la balise #welcome*/
#welcome article:last-of-type{
width: 74%;
margin-right: 0;
}

strong{
    display: block;
/*ici on déplace le texte*/
    margin-bottom: 1rem;
    font-size: 2rem;

}





/*-------------------------------------------------------------*/



/*Requètes media pour la version pc*/
@media screen and (min-width: 450px){



    /*nav du header */
    ul{
        display: inline-block;
    }

    li{
        display: inline-block;
        text-align: center;

    }


  #burgerBtn{
    display: none;
 }


.sidebar{
    display: block;
}

#test {
    display: block;
    text-align: left;
    background-color: rgba(140, 37, 37, 0.5);
    width: 20%;
  
    margin-top: -6rem;
    margin-left: -52px;
}


/*
 #test {width:26px;
         min-height:200px;
     position:fixed;
     margin-top:250px;
     margin-left:10px;
     float:left;
     background:red;

 }
*/


#article{
    text-align: right;
}

}